header {
    text-align: center;
    padding-bottom: 15px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shop {
    border: 1px dotted black;
    padding: 5px;
    flex-basis: 30%;
}